package views

templ Layout() {
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<title>Recept</title>
			<link href="/public/output.css" rel="stylesheet"/>
		</head>
		<body class="">
			{ children... }
		</body>
	</html>
}
