package views

templ Layout() {
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Recept</title>
			<script src="/public/htmx.2.0.1.min.js"></script>
			<link href="/public/output.css" rel="stylesheet"/>
		</head>
		<body class="bg-white" hx-boost="true">
			{ children... }
		</body>
	</html>
}
